html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 30px;
}

.details {
    margin: 30px auto 0;
    width: 800px;
    border-top: 1px solid #666;
    padding-top: 20px;
}