/* Canvas */
.heatmap {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 800px;
}

.canvas-wrapper {
    position: relative;
    width: 800px;
    height: 500px;
    border: 1px solid #c3c3c3;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
    margin: 0;
    padding: 0;
}

#image-canvas {
    pointer-events: none;
    z-index: -1;
}

#drawing-canvas {
    z-index: 0;
}

/***********************************************/
/* Axis */
/***********************************************/

#x-min, #x-max {
    position: absolute;
    text-align: right;
    right: 100%;
    padding-right: 5px;
}

#x-min {
    top: 0;
}

#x-max {
    bottom: 0;
}

/***********************************************/
/* Controls */
/***********************************************/

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

#data-source {
    margin-right: 20px;
    margin-left: 5px;
}

/***********************************************/
/* Inspecting Tools */
/***********************************************/

.inspecting-tools {
    display: flex;
    margin: 10px auto 0;
}

select {
    margin-left: 10px;
}

#export-button {
    margin-left: 10px;
}

.selected-region-display {
    display: flex;
    flex-direction: column;
}

.export-display {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}